/** {
	box-sizing: border-box;
}*/

body {
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#canvas {
	background-color: #1E1E1E;
	border-radius: 3px;
/*	padding: 3px;*/
}