* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	gap: 10px;
}

#canvas {
	background-color: #1E1E1E;
	border-radius: 4px;
}

.btn-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 6px;
}